<div class="container">
    <div class="row">
        <div class="col">
            {{template "components/sidebar" .}}
        </div>
        <div class="col">
            {{template "components/header" .}}
        </div>

    </div>
</div>

<div>
    <nav>
        <a href="/web/m-biodata/table-datatable">Table Datatable</a>
        <a href="/web/m-biodata/table-html">Table HTML</a>
        <a href="/web/m-biodata/table-bootstrap">Table Boostrap</a>
        <a href="/web/m-biodata/table-tailwindcss">Table Tailwind CSS</a>
    </nav>
</div>

{{template "components/toast" .}}
{{template "components/footer" .}}