<div class="container">
    <div class="row">
        <div class="col">
            {{template "components/sidebar" .}}
        </div>
        <div class="col">
            {{template "components/header" .}}
        </div>

    </div>
</div>

<div>
    <table id="table-header-id" style="width: fit-content;">
        <tbody>
            <tr>
                <td><button>Create</button></td>
                <td><button onclick="refreshTable()">Refresh</button></td>
                <td><button onclick="toggleFilters()">Filter</button></td>
                <td><button>Export</button></td>
            </tr>
        </tbody>
    </table>
    <table id="table-id" style="width: 100%;">
    </table>
    <div id="table-footer-id">
        <table>
            <tbody>
                <tr>
                    <td>
                        <div id="table-footer-info"></div>
                    </td>
                    <td>
                        <div id="table-footer-page-length">
                            <select id="page-length-select-id" onchange="applyPageLength()">
                                <option value="2">2</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="100">100</option>
                                <option value="-1">All</option>
                            </select>
                            <span>entries per page</span>
                        </div>
                    </td>
                    <td>
                        <div id="table-footer-pagination">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    const camelToSnake = (input) => {
        return input.replace(/([A-Z])/g, '_$1').toLowerCase();
    };

    const dataTable = [
        {
            "id": "id",
            "title": "ID",
            "sortable": true,
            "filterable": true,
            "datatype": "number",
        },
        {
            "id": "fullname",
            "title": "Full Name",
            "sortable": true,
            "filterable": true,
            "datatype": "text",
        },
        {
            "id": "mobilePhone",
            "title": "Mobile Phone",
            "sortable": true,
            "filterable": true,
            "datatype": "text",
        },
        {
            "id": "imagePath",
            "title": "Image Path",
            "sortable": true,
            "filterable": true,
            "datatype": "text",
        },
        {
            "id": "createdOn",
            "title": "Created On",
            "sortable": true,
            "filterable": true,
            "datatype": "date",
        },
        {
            "id": "isDelete",
            "title": "Is Delete",
            "sortable": true,
            "filterable": true,
            "datatype": "boolean",
        },
        {
            "id": "action",
            "title": "Action",
            "sortable": false,
            "filterable": false,
            "datatype": null,
        },
    ];
    function initializeTable() {
        const table = document.getElementById('table-id');
        const thead = document.createElement('thead');
        const headerTitleRow = document.createElement('tr');
        const headerFilterRow = document.createElement('tr');
        headerFilterRow.id = 'data-table-column-filtering-id';

        const tbody = document.createElement('tbody');
        tbody.id = 'data-table-body';
        table.appendChild(tbody);


        for (const column of dataTable) {

            // TITLE
            const th = document.createElement('th');
            th.textContent = column.title;
            th.setAttribute('data-id', column.id);
            th.setAttribute('data-column-id', column.id);
            headerTitleRow.appendChild(th);

            // SORT
            const sortSymbol = document.createElement('span');
            sortSymbol.classList.add('sort-symbol');
            th.appendChild(sortSymbol);
            if (column.sortable) {
                th.style.cursor = 'pointer';
                th.addEventListener('click', () => {
                    sortTable(column.id);
                });
            }

            // FILTER
            const td = document.createElement('td');
            if (column.filterable) {
                let input;
                if (column.datatype === 'boolean') {
                    // Use a select/dropdown for boolean filters
                    input = document.createElement('select');
                    input.innerHTML = `
                    <option value="">All</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                `;
                    input.addEventListener('change', applyFilters);
                } else if (column.datatype === 'date') {
                    input = document.createElement('input');
                    input.type = 'date';
                    input.addEventListener('change', applyFilters);
                } else {
                    input = document.createElement('input');
                    input.type = 'text';
                    input.placeholder = `Filter ${column.title}..`;
                    input.addEventListener('keyup', applyFilters);
                }
                input.classList.add('filter-input');
                // Store the column ID on the input element
                input.dataset.columnId = column.id;
                // Attach the event listener for filtering
                input.addEventListener('keyup', applyFilters);
                td.appendChild(input);
            }
            headerFilterRow.appendChild(td);
        }
        thead.appendChild(headerTitleRow);
        thead.appendChild(headerFilterRow);
        table.appendChild(thead);
    }

    let currentSort = {
        columnId: null,
        direction: 'asc' // 'asc' or 'desc'
    };
    function updateSortSymbols(columnId, direction) {
        document.querySelectorAll('.sort-symbol').forEach(span => {
            span.innerHTML = ''; // Clear all symbols
        });

        const th = document.querySelector(`th[data-column-id="${columnId}"]`);
        if (th) {
            const symbolSpan = th.querySelector('.sort-symbol');
            if (symbolSpan) {
                symbolSpan.innerHTML = direction === 'asc' ? '&#9650;' : '&#9660;';
            }
        }
    }
    function sortTable(columnId) {
        let newDirection = 'asc';
        if (currentSort.columnId === columnId) {
            // reset symbol
            if (currentSort.direction === 'desc') {
                columnId = null;
            }
            newDirection = currentSort.direction === 'asc' ? 'desc' : 'asc';
        }

        currentSort.columnId = columnId;
        currentSort.direction = newDirection;

        console.log(`Sorting by ${currentSort.columnId} in ${currentSort.direction} order.`);
        initializeContentTable();
        updateSortSymbols(currentSort.columnId, currentSort.direction);
    }

    function applyFilters() {
        const filterInputs = document.querySelectorAll('.filter-input');

        const filters = {};
        filterInputs.forEach(input => {
            filters[input.dataset.columnId] = input.value.toLowerCase();
        });
    }

    function toggleFilters() {
        const columnFiltering = document.getElementById('data-table-column-filtering-id');
        columnFiltering.hidden = !columnFiltering.hidden;
    }

    async function fetchData(url, data, method) {
        try {
            let response;
            if (method === 'GET' || method === 'DELETE') {
                response = await fetch(url, {
                    method: method,
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
            } else {
                response = await fetch(url, {
                    method: method,
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });
            }

            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }

            const result = await response.json();
            console.log('Success:', result);
            return result;
        } catch (error) {
            console.error('Error:', error);
        }
    }

    let currentPagination = {
        page: 0,
        size: 2
    }
    let currentFiltering = {}

    async function initializeContentTable() {
        let url = "/m-biodata";
        // url pagination
        url = url + "?page=" + currentPagination.page + "&size=" + currentPagination.size;
        // url sort
        if (currentSort.columnId !== null) {
            const columnId = camelToSnake(currentSort.columnId);
            const sortParam = [{ "id": columnId, "desc": currentSort.direction === 'desc' ? true : false }]
            url = url + "&sort=" + encodeURIComponent(JSON.stringify(sortParam))
        }

        const result = await fetchData(url, "", "GET");
        const data = result.data.content;

        const tbody = document.getElementById('data-table-body');
        tbody.innerHTML = ''; // Clear existing rows

        if (data.length === 0) {
            const tr = document.createElement('tr');
            const td = document.createElement('td');
            td.colSpan = dataTable.length;
            td.textContent = 'No data found.';
            td.style.textAlign = 'center';
            tr.appendChild(td);
            tbody.appendChild(tr);
            return;
        }

        data.forEach(item => {
            const tr = document.createElement('tr');
            for (const column of dataTable) {
                const td = document.createElement('td');
                const value = item[column.id];

                if (column.id === 'action') {
                    td.innerHTML = `
                    <button>View</button>
                    <button>Edit</button>
                    <button>Delete</button>`;
                } else {
                    td.textContent = value === undefined || value === null ? '' : String(value);
                }
                tr.appendChild(td);
            }
            tbody.appendChild(tr);
        });

        // INFO
        const offsetStart = parseInt(currentPagination.page) * parseInt(currentPagination.size) + 1;
        let offsetEnd = offsetStart + parseInt(currentPagination.size) - 1;
        if (offsetEnd > parseInt(result.data.totalElements) || offsetEnd < 0) {
            offsetEnd = parseInt(result.data.totalElements);
        }
        let tableFooterInfoContainer = document.getElementById("table-footer-info");
        tableFooterInfoContainer.innerHTML = "Showing " + offsetStart + " to " + offsetEnd + " of " + result.data.totalElements + " entries";

        // PAGINATION
        const paginationContainer = document.getElementById('table-footer-pagination');
        paginationContainer.innerHTML = '';
        const paginationPreviousButton = document.createElement('button');
        paginationPreviousButton.innerHTML = 'Previous';
        paginationPreviousButton.disabled = result.data.first;
        paginationPreviousButton.onclick = function () {
            applyPagination(currentPagination.page - 1)
        }
        paginationContainer.appendChild(paginationPreviousButton);

        for (i = 1; i <= result.data.totalPages; i++) {
            const paginationNumberButton = document.createElement('button');
            paginationNumberButton.innerHTML = i;
            paginationNumberButton.onclick = function () {
                applyPagination(parseInt(paginationNumberButton.innerHTML) - 1);
            }
            paginationNumberButton.disabled = parseInt(paginationNumberButton.innerHTML) - 1 === parseInt(currentPagination.page);
            paginationContainer.appendChild(paginationNumberButton);
        }

        const paginationNextButton = document.createElement('button');
        paginationNextButton.innerHTML = 'Next';
        paginationNextButton.disabled = result.data.last;
        paginationNextButton.onclick = function () {
            applyPagination(currentPagination.page + 1)
        }
        paginationContainer.appendChild(paginationNextButton);
    }

    function applyPagination(page) {
        currentPagination.page = page;
        refreshTable();
    }

    function applyPageLength() {
        const pageLengthSelectId = document.getElementById('page-length-select-id');
        currentPagination.size = pageLengthSelectId.value;
        // console.log(JSON.stringify(currentPagination));
        refreshTable();
    }

    function refreshTable() {
        initializeContentTable();
    }

    initializeTable();
    toggleFilters();
    initializeContentTable();

</script>

{{template "components/toast" .}}
{{template "components/footer" .}}